doctype html
html
    head
        <script src="https://kit.fontawesome.com/dff6c50346.js" crossorigin="anonymous"></script>
        title  |  #{siteName}
    body
        include ../partials/header

        mian
            block content
        include ../partials/footer